@model BlogrollViewmodel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
            <li class="@Model.IsCurrentLanguage("All")">
                <!-- World -->
                <a href="@Url.RouteUrl("Blogroll", new { language = "All", page = 1, pagesize = Model.PagedList.PageSize != 5 ? (int?)Model.PagedList.PageSize : null })#nav">
                    <svg class="flag" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 52.27" enable-background="new 0 0 100 52.27">
                        <path fill="#21468B" d="M51.114,33.045c2.659,0.1,5.309,0.556,7.872,1.367c0.637-1.941,1.051-3.971,1.226-6.058c0.029-0.332,0.051-0.664,0.066-0.995h-9.164V33.045z" />
                        <path fill="#21468B" d="M65.172,39.811c-1.553-1.026-3.185-1.88-4.868-2.559c-1.377,3.283-3.366,6.287-5.895,8.873C58.641,45.188,62.38,42.93,65.172,39.811z" />
                        <path fill="#21468B" d="M70.331,27.36h-7.823c-0.017,0.394-0.042,0.787-0.075,1.182c-0.193,2.283-0.647,4.501-1.348,6.623c1.9,0.763,3.74,1.73,5.485,2.901C68.755,35.013,70.115,31.334,70.331,27.36z" />
                        <path fill="#21468B" d="M51.114,46.164c3.118-2.681,5.522-5.98,7.088-9.663c-2.311-0.721-4.693-1.13-7.088-1.227V46.164z" />
                        <path fill="#21468B" d="M51.114,25.132h9.177c-0.087-2.423-0.506-4.799-1.235-7.075c-2.585,0.825-5.258,1.288-7.941,1.388V25.132z" />
                        <path fill="#21468B" d="M54.675,6.427c0.378,0.399,0.745,0.808,1.099,1.226c1.944,2.303,3.489,4.849,4.608,7.556c1.657-0.675,3.262-1.518,4.79-2.527C62.437,9.625,58.794,7.398,54.675,6.427z" />
                        <path fill="#21468B" d="M70.331,25.132c-0.216-3.979-1.578-7.656-3.761-10.707c-1.724,1.157-3.541,2.115-5.418,2.874c0.817,2.517,1.278,5.148,1.367,7.833H70.331z" />
                        <path fill="#21468B" d="M51.114,6.106v11.11c2.421-0.098,4.835-0.515,7.169-1.251c-1.029-2.462-2.44-4.778-4.212-6.875C53.169,8.021,52.174,7.018,51.114,6.106z" />
                        <path fill="#21468B" d="M48.886,27.36h-9.168c0.107,2.417,0.543,4.786,1.292,7.054c2.565-0.812,5.215-1.269,7.876-1.368V27.36z" />
                        <path fill="#21468B" d="M48.886,19.446c-2.683-0.101-5.353-0.563-7.937-1.386c-0.6,1.879-0.992,3.842-1.162,5.857c-0.034,0.406-0.059,0.811-0.075,1.216h9.173V19.446z" />
                        <path fill="#21468B" d="M48.886,46.164v-10.89c-2.394,0.097-4.777,0.505-7.087,1.227c1.022,2.388,2.406,4.638,4.13,6.68C46.832,44.249,47.826,45.252,48.886,46.164z" />
                        <path fill="#21468B" d="M48.886,6.106c-3.174,2.729-5.606,6.097-7.169,9.859c2.335,0.737,4.747,1.154,7.169,1.251V6.106z" />
                        <path fill="#21468B" d="M29.669,25.132h7.814c0.017-0.466,0.044-0.935,0.084-1.403c0.186-2.213,0.62-4.365,1.283-6.428c-1.881-0.761-3.702-1.722-5.431-2.882C31.177,17.552,29.877,21.241,29.669,25.132z" />
                        <path fill="#21468B" d="M45.593,46.122c-0.474-0.485-0.929-0.987-1.366-1.504c-1.899-2.249-3.417-4.73-4.531-7.367c-1.678,0.678-3.305,1.528-4.853,2.551C37.638,42.921,41.375,45.181,45.593,46.122z" />
                        <path fill="#21468B" d="M45.325,6.422c-3.687,0.862-7.066,2.744-9.795,5.501c-0.244,0.245-0.48,0.496-0.709,0.752c1.531,1.013,3.139,1.857,4.797,2.533C40.95,11.968,42.875,8.995,45.325,6.422z" />
                        <path fill="#21468B" d="M38.911,35.166c-0.833-2.508-1.313-5.13-1.423-7.807H29.67c0.217,3.969,1.584,7.644,3.773,10.697C35.184,36.891,37.018,35.927,38.911,35.166z" />
                    </svg>
                    All
                </a>
            </li>
            <li class="@Model.IsCurrentLanguage(FeedLanguage.NL)">
                <!-- Dutch flag -->
                <a href="@Url.RouteUrl("Blogroll", new { language = FeedLanguage.NL, page = 1, pagesize = Model.PagedList.PageSize != 5 ? (int?)Model.PagedList.PageSize : null })#nav">
                    <svg class="flag" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 52.27" enable-background="new 0 0 100 52.27">
                        <rect x="0" y="0" fill="#21468B" width="100" height="52.27" />
                        <rect x="0" y="0" fill="#ffffff" width="100" height="34.846" />
                        <rect x="0" y="0" fill="#ae1c28" width="100" height="17.423" />
                    </svg>
                    Dutch
                </a>
            </li>
            <li class="@Model.IsCurrentLanguage(FeedLanguage.EN)">
                <!-- US flag -->
                <a href="@Url.RouteUrl("Blogroll", new { language = FeedLanguage.EN, page = 1, pagesize = Model.PagedList.PageSize != 5 ? (int?)Model.PagedList.PageSize : null })#nav">
                    <svg class="flag" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 52.27" enable-background="new 0 0 100 52.27">
                        <rect y="0" fill="#ffffff" width="100" height="52.27" />
                        <rect y="0" fill="#bb133e" width="100" height="4.021" />
                        <rect y="8.041" fill="#bb133e" width="100" height="4.021" />
                        <rect y="16.083" fill="#bb133e" width="100" height="4.021" />
                        <rect y="24.124" fill="#bb133e" width="100" height="4.021" />
                        <rect y="32.164" fill="#bb133e" width="100" height="4.021" />
                        <rect y="40.207" fill="#bb133e" width="100" height="4.021" />
                        <rect y="48.496" fill="#bb133e" width="100" height="3.772" />
                        <rect y="0" fill="#002664" width="40" height="28.145" />
                        <polygon fill="#ffffff" points="3.421,1.171 3.057,2.285 1.88,2.285 2.833,2.969 2.468,4.084 3.421,3.395 4.374,4.084 4.01,2.969 4.963,2.285 3.784,2.285" />
                        <polygon fill="#ffffff" points="10.052,1.171 9.689,2.285 8.512,2.285 9.464,2.969 9.1,4.084 10.052,3.395 11.006,4.084 10.643,2.969 11.594,2.285 10.417,2.285" />
                        <polygon fill="#ffffff" points="16.684,1.171 16.32,2.285 15.143,2.285 16.096,2.969 15.73,4.084 16.684,3.395 17.637,4.084 17.273,2.969 18.227,2.285 17.049,2.285" />
                        <polygon fill="#ffffff" points="23.316,1.171 22.951,2.285 21.773,2.285 22.727,2.969 22.361,4.084 23.316,3.395 24.27,4.084 23.904,2.969 24.857,2.285 23.68,2.285" />
                        <polygon fill="#ffffff" points="29.947,1.171 29.582,2.285 28.406,2.285 29.357,2.969 28.994,4.084 29.947,3.395 30.9,4.084 30.536,2.969 31.488,2.285 30.311,2.285" />
                        <polygon fill="#ffffff" points="35.625,4.084 36.578,3.395 37.532,4.084 37.167,2.969 38.12,2.285 36.943,2.285 36.578,1.171 36.215,2.285 35.036,2.285 35.99,2.969" />
                        <polygon fill="#ffffff" points="6.736,3.995 6.373,5.105 5.195,5.105 6.148,5.794 5.784,6.906 6.736,6.219 7.689,6.906 7.326,5.794 8.279,5.105 7.1,5.105" />
                        <polygon fill="#ffffff" points="13.368,3.995 13.005,5.105 11.826,5.105 12.779,5.794 12.415,6.906 13.368,6.219 14.322,6.906 13.957,5.794 14.91,5.105 13.732,5.105" />
                        <polygon fill="#ffffff" points="20,3.995 19.635,5.105 18.459,5.105 19.411,5.794 19.047,6.906 20,6.219 20.953,6.906 20.588,5.794 21.542,5.105 20.363,5.105" />
                        <polygon fill="#ffffff" points="26.632,3.995 26.268,5.105 25.089,5.105 26.043,5.794 25.677,6.906 26.632,6.219 27.584,6.906 27.221,5.794 28.173,5.105 26.996,5.105" />
                        <polygon fill="#ffffff" points="33.262,3.995 32.898,5.105 31.721,5.105 32.674,5.794 32.311,6.906 33.262,6.219 34.216,6.906 33.852,5.794 34.805,5.105 33.626,5.105" />
                        <polygon fill="#ffffff" points="3.784,7.927 3.421,6.816 3.057,7.927 1.88,7.927 1.88,7.927 1.88,7.927 2.833,8.618 2.468,9.728 3.421,9.042 4.374,9.728 4.01,8.618 4.963,7.927 4.963,7.927 4.963,7.927" />
                        <polygon fill="#ffffff" points="10.417,7.927 10.052,6.816 9.689,7.927 8.512,7.927 8.512,7.927 8.512,7.927 9.464,8.618 9.1,9.728 10.052,9.042 11.006,9.728 10.643,8.618 11.594,7.927 11.594,7.927 11.594,7.927" />
                        <polygon fill="#ffffff" points="17.049,7.927 16.684,6.816 16.32,7.927 15.143,7.927 15.143,7.927 15.143,7.927 16.096,8.618 15.73,9.728 16.684,9.042 17.637,9.728 17.273,8.618 18.227,7.927 18.227,7.927 18.227,7.927" />
                        <polygon fill="#ffffff" points="23.68,7.927 23.316,6.816 22.951,7.927 21.773,7.927 21.773,7.927 21.773,7.927 22.727,8.618 22.361,9.728 23.316,9.042 24.27,9.728 23.904,8.618 24.857,7.927 24.857,7.927 24.857,7.927" />
                        <polygon fill="#ffffff" points="30.311,7.927 29.947,6.816 29.582,7.927 28.406,7.927 28.406,7.927 28.406,7.927 29.357,8.618 28.994,9.728 29.947,9.042 30.9,9.728 30.536,8.618 31.488,7.927 31.488,7.927 31.488,7.927" />
                        <polygon fill="#ffffff" points="36.943,7.927 36.578,6.816 36.215,7.927 35.036,7.927 35.036,7.927 35.036,7.927 35.99,8.618 35.625,9.728 36.578,9.042 37.532,9.728 37.167,8.618 38.12,7.927 38.12,7.927 38.12,7.927" />
                        <polygon fill="#ffffff" points="6.736,9.637 6.373,10.752 5.195,10.752 6.148,11.438 5.784,12.552 6.736,11.864 7.689,12.552 7.326,11.438 8.279,10.752 7.1,10.752" />
                        <polygon fill="#ffffff" points="13.368,9.637 13.005,10.752 11.826,10.752 12.779,11.438 12.415,12.552 13.368,11.864 14.322,12.552 13.957,11.438 14.91,10.752 13.732,10.752" />
                        <polygon fill="#ffffff" points="20,9.637 19.635,10.752 18.459,10.752 19.411,11.438 19.047,12.552 20,11.864 20.953,12.552 20.588,11.438 21.542,10.752 20.363,10.752" />
                        <polygon fill="#ffffff" points="26.632,9.637 26.268,10.752 25.089,10.752 26.043,11.438 25.677,12.552 26.632,11.864 27.584,12.552 27.221,11.438 28.173,10.752 26.996,10.752" />
                        <polygon fill="#ffffff" points="33.262,9.637 32.898,10.752 31.721,10.752 32.674,11.438 32.311,12.552 33.262,11.864 34.216,12.552 33.852,11.438 34.805,10.752 33.626,10.752" />
                        <polygon fill="#ffffff" points="3.784,13.575 3.421,12.462 3.057,13.575 1.88,13.575 1.88,13.575 1.88,13.575 2.833,14.26 2.468,15.375 3.421,14.686 4.374,15.375 4.01,14.26 4.963,13.575 4.963,13.575 4.963,13.575" />
                        <polygon fill="#ffffff" points="10.417,13.575 10.052,12.462 9.689,13.575 8.512,13.575 8.512,13.575 8.512,13.575 9.464,14.26 9.1,15.375 10.052,14.686 11.006,15.375 10.643,14.26 11.594,13.575 11.594,13.575 11.594,13.575" />
                        <polygon fill="#ffffff" points="17.049,13.575 16.684,12.462 16.32,13.575 15.143,13.575 15.143,13.575 15.143,13.575 16.096,14.26 15.73,15.375 16.684,14.686 17.637,15.375 17.273,14.26 18.227,13.575 18.227,13.575 18.227,13.575" />
                        <polygon fill="#ffffff" points="23.68,13.575 23.316,12.462 22.951,13.575 21.773,13.575 21.773,13.575 21.773,13.575 22.727,14.26 22.361,15.375 23.316,14.686 24.27,15.375 23.904,14.26 24.857,13.575 24.857,13.575 24.857,13.575" />
                        <polygon fill="#ffffff" points="30.311,13.575 29.947,12.462 29.582,13.575 28.406,13.575 28.406,13.575 28.406,13.575 29.357,14.26 28.994,15.375 29.947,14.686 30.9,15.375 30.536,14.26 31.488,13.575 31.488,13.575 31.488,13.575" />
                        <polygon fill="#ffffff" points="36.943,13.575 36.578,12.462 36.215,13.575 35.036,13.575 35.036,13.575 35.036,13.575 35.99,14.26 35.625,15.375 36.578,14.686 37.532,15.375 37.167,14.26 38.12,13.575 38.12,13.575 38.12,13.575" />
                        <polygon fill="#ffffff" points="6.736,15.286 6.373,16.397 5.195,16.397 6.148,17.085 5.784,18.197 6.736,17.509 7.689,18.197 7.326,17.085 8.279,16.397 7.1,16.397" />
                        <polygon fill="#ffffff" points="13.368,15.286 13.005,16.397 11.826,16.397 12.779,17.085 12.415,18.197 13.368,17.509 14.322,18.197 13.957,17.085 14.91,16.397 13.732,16.397" />
                        <polygon fill="#ffffff" points="20,15.286 19.635,16.397 18.459,16.397 19.411,17.085 19.047,18.197 20,17.509 20.953,18.197 20.588,17.085 21.542,16.397 20.363,16.397" />
                        <polygon fill="#ffffff" points="26.632,15.286 26.268,16.397 25.089,16.397 26.043,17.085 25.677,18.197 26.632,17.509 27.584,18.197 27.221,17.085 28.173,16.397 26.996,16.397" />
                        <polygon fill="#ffffff" points="33.262,15.286 32.898,16.397 31.721,16.397 32.674,17.085 32.311,18.197 33.262,17.509 34.216,18.197 33.852,17.085 34.805,16.397 33.626,16.397" />
                        <polygon fill="#ffffff" points="3.784,19.219 3.421,18.108 3.057,19.219 1.88,19.219 1.88,19.219 1.88,19.219 2.833,19.906 2.468,21.02 3.421,20.333 4.374,21.02 4.01,19.906 4.963,19.219 4.963,19.219 4.963,19.219" />
                        <polygon fill="#ffffff" points="10.417,19.219 10.052,18.108 9.689,19.219 8.512,19.219 8.512,19.219 8.512,19.219 9.464,19.906 9.1,21.02 10.052,20.333 11.006,21.02 10.643,19.906 11.594,19.219 11.594,19.219 11.594,19.219" />
                        <polygon fill="#ffffff" points="17.049,19.219 16.684,18.108 16.32,19.219 15.143,19.219 15.143,19.219 15.143,19.219 16.096,19.906 15.73,21.02 16.684,20.333 17.637,21.02 17.273,19.906 18.227,19.219 18.227,19.219 18.227,19.219" />
                        <polygon fill="#ffffff" points="23.68,19.219 23.316,18.108 22.951,19.219 21.773,19.219 21.773,19.219 21.773,19.219 22.727,19.906 22.361,21.02 23.316,20.333 24.27,21.02 23.904,19.906 24.857,19.219 24.857,19.219 24.857,19.219" />
                        <polygon fill="#ffffff" points="30.311,19.219 29.947,18.108 29.582,19.219 28.406,19.219 28.406,19.219 28.406,19.219 29.357,19.906 28.994,21.02 29.947,20.333 30.9,21.02 30.536,19.906 31.488,19.219 31.488,19.219 31.488,19.219" />
                        <polygon fill="#ffffff" points="36.943,19.219 36.578,18.108 36.215,19.219 35.036,19.219 35.036,19.219 35.036,19.219 35.99,19.906 35.625,21.02 36.578,20.333 37.532,21.02 37.167,19.906 38.12,19.219 38.12,19.219 38.12,19.219" />
                        <polygon fill="#ffffff" points="7.1,22.042 6.736,20.928 6.373,22.042 5.195,22.042 6.148,22.729 5.784,23.841 6.736,23.156 7.689,23.841 7.326,22.729 8.279,22.042" />
                        <polygon fill="#ffffff" points="13.732,22.042 13.368,20.928 13.005,22.042 11.826,22.042 12.779,22.729 12.415,23.841 13.368,23.156 14.322,23.841 13.957,22.729 14.91,22.042" />
                        <polygon fill="#ffffff" points="20.363,22.042 20,20.928 19.635,22.042 18.459,22.042 19.411,22.729 19.047,23.841 20,23.156 20.953,23.841 20.588,22.729 21.542,22.042" />
                        <polygon fill="#ffffff" points="26.996,22.042 26.632,20.928 26.268,22.042 25.089,22.042 26.043,22.729 25.677,23.841 26.632,23.156 27.584,23.841 27.221,22.729 28.173,22.042" />
                        <polygon fill="#ffffff" points="33.626,22.042 33.262,20.928 32.898,22.042 31.721,22.042 32.674,22.729 32.311,23.841 33.262,23.156 34.216,23.841 33.852,22.729 34.805,22.042" />
                        <polygon fill="#ffffff" points="3.784,24.866 3.421,23.753 3.057,24.866 1.88,24.866 2.833,25.552 2.468,26.664 3.421,25.977 4.374,26.664 4.01,25.552 4.963,24.866" />
                        <polygon fill="#ffffff" points="10.417,24.866 10.052,23.753 9.689,24.866 8.512,24.866 9.464,25.552 9.1,26.664 10.052,25.977 11.006,26.664 10.643,25.552 11.594,24.866" />
                        <polygon fill="#ffffff" points="30.311,24.866 29.947,23.753 29.582,24.866 28.406,24.866 29.357,25.552 28.994,26.664 29.947,25.977 30.9,26.664 30.536,25.552 31.488,24.866" />
                        <polygon fill="#ffffff" points="36.943,24.866 36.578,23.753 36.215,24.866 35.036,24.866 35.99,25.552 35.625,26.664 36.578,25.977 37.532,26.664 37.167,25.552 38.12,24.866" />
                        <polygon fill="#ffffff" points="17.049,24.867 16.686,23.753 16.321,24.867 15.145,24.867 16.097,25.554 15.733,26.666 16.686,25.981 17.639,26.666 17.274,25.554 18.228,24.867" />
                        <polygon fill="#ffffff" points="23.68,24.867 23.317,23.753 22.952,24.867 21.776,24.867 22.728,25.554 22.364,26.666 23.317,25.981 24.27,26.666 23.905,25.554 24.859,24.867" />
                    </svg>
                    English
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    @foreach (var i in Model.PagedList)
    {

        <div class="row">
            <div class="col-md-2 col-md-offset-1 hidden-sm hidden-xs">
                <div class="time text-right">
                    @if (i.Date > DateTime.Now.AddMonths(-3))
                    {
                        <span class="badge">New</span>
                    }
                    @i.Date.ToString("yyyy-MM-dd") <small>@i.Date.ToString("HH:mm:ss")</small>
                </div>
            </div>
            <div class="col-md-8">
                <h3><a href="@i.Uri">@i.Title</a></h3>
                <p>@i.GetContent() <small class="pull-right"><a href="@i.Uri" target="_blank">Read more &raquo;</a></small></p>
            </div>
        </div>

    }
</div>

<div class="row">
    <div class="col-md-12 text-center">
        @Html.PagedListPager(Model.PagedList, p => Url.RouteUrl("Blogroll", new
           {
               language = Model.Language,
               page = p,
               pagesize = Model.PagedList.PageSize != 5 ? (int?)Model.PagedList.PageSize : null
           }) + "#nav", PagingOptions.Default)
    </div>
</div>