<!doctype html>
<html lang="en" class="no-js">
<head prefix="og: //ogp.me/ns# fb: //ogp.me/ns/fb#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@(string.IsNullOrEmpty(Page.Title) ? string.Empty : Page.Title + " | ") RobIII</title>
    <meta name="description" content="@Page.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400">
    @Styles.Render("~/bundles/css")
    @*@Scripts.Render("~/bundles/js-head")*@
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta property="og:title" content="@(string.IsNullOrEmpty(Page.Title) ? string.Empty : Page.Title + " | ") RobIII">
    <meta property="og:url" content="https://robiii.me/">
    <meta property="og:image" content="https://robiii.me/img/back.jpg">
    <meta property="og:description" content="@Page.Description" />
    <meta property="og:locale" content="en-US" />

    <meta name="p:domain_verify" content="bf99aaabbc87248aa99378b595691727" />
</head>

<body>
    <div class="site-head">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <div id="user-image" title="RobIII's Picture"></div>
                </div>
                <div class="col-md-7">
                    <h1 class="site-title">Rob Janssen <small class="hidden-xs">(RobIII)</small></h1>
                    <h2 class="site-description hidden-xs">Software engineer at <a href="https://keensystems.eu">KeenSystems</a>, moderator &amp; mediator @@<a href="https://tweakers.net/gallery/robiii">GoT</a> and proud father of two <a href="https://lucajanssen.nl">great</a> <a href="https://danujanssen.nl">sons</a>. Pretty much all-round developer.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-fluid">
        <div class="row">
            <ul id="nav" class="nav nav-tabs nav-justified">
                <li class="@(Html.ActivePage<BlogrollController>())">@Html.ActionLink("I write", "Index", "Blogroll")</li>
                <li class="@(Html.ActivePage<StaticController>("page", "code"))">@Html.ActionLink("I code", "Index", "Static", new { Page = "code" }, null)</li>
                <li class="@(Html.ActivePage<PocketController>())"><a href="/pocket/all">I read</a></li>
                <li class="@(Html.ActivePage<StaticController>("page", "contact"))">@Html.ActionLink("Contact", "Index", "Static", new { Page = "contact" }, null)</li>
            </ul>

            <div class="tab-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="text-center">
        &copy; 2000 - @DateTime.Now.Year Rob Janssen
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-2.2.2.min.js"><\/script>')</script>

    @Scripts.Render("~/bundles/js-body")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-50874258-1', 'robiii.nl');
        ga('send', 'pageview');
    </script>
    <!--
                               `/+o/.
                           .+sso+/:oydyo/:-:+shdys/    `-:.     `-/+o+/`
                       `/sdh+/::/::ss:`ymdhyso//hmMNyhNNms+ososys+/-:/shms/`
                    .+hNNy++oo+/.`.--/osyhdmNNMMMMMMMMMNdsssssoso+hhhhsoo+ymdo.
                  -smNy/+ymmmmmNNNNMNMMMMMNNNmmNMMMMMMMMMho:///:--shydNMMNdo-sNs`
                -hNd+-sNMNdmNMMMNNNMNNNMMMddNMMNNmNMMMMMMNmy+///::/:-:/++ymNNdmMN:
              `sNMs`+NMNNNMMMMNNNMMMMMMNmhyso///+ohMmoNMmoo+/::/-:oymNNmsosshdhmMM/
             +NMMy`hMMMhyNMNMMNNNMds:-.`-:syddmNMMmyo`+yMMho:..-+//++omMNNNNNNNmdNMs
           :mMMMh`yMNdodNNNMNMMMs.+sdmmmmmdhNMMMNhy/..`-syhNmdyssso+/.`:yNMMMMNMNMMMy
          :NMNh:-+MMh+mdNNNNNMd.+NNMMMMMMMMmho:-......:--::ohNMMMMMMNmNy/.oNMNmNMNMMMs
         :NMm+/dmmMNydyhNdhMMN.yMMNmhysso+:-``        ```.--:/+sdMMMMMNNNm:-mMNNNNMMMMy                   Dolphins  get a lot  of good  publicity for  the drowning
        :NMy/hNMMMMmNddsh/NmMy-Mms:..`.--.`                ``..-.:yNMMMMNMNs:NMMMNNNNMMy                  swimmers  they  push back  to shore, but what  you  don’t
       :NNy/mMMMMMMmNMMshsNdMo/d-...``                       ```...-yMMMNNMd`NMMNMdmoNMM-                 hear  about is the many  people they push  farther out to
      /mMm+NMNNMMNMNNNNNNNNMMmom/                              ```..`+NMMMMh`NMMMMNNdhNMh                 sea! Dolphins aren't smart. They just like pushing things.
     +NMMmmMNyNMNMMMMMNmmmNMdNNyh+.                             ``````/NMMM::MMMMNMNNmNMN
    +MNNMMMNymMNNMMMNNNNNMh+:+dNmddhyoo+`                        ````.`sMMN`sMNNMNNMNNNNN                                                           - Dwight Shrute
    dNNNMNNddMNNNNNNmymMN+---::/shdhyyy:                         `````..hMo.NMNMNMMMNmMMd
    dNNNMMNmNNNmmNMNdNMM+.-..----.-:::.                          ````...:mh/NMMMNMMMNNMMh
    sMNNMMNMNNmyNMNdmNMo--.....                                  ``...---:dNMNMMNMMNNNMMN.
    :NNNMMMNNNsmMNmMNMy...`.-.`                                    `.-----:odNmmNMMMMMNMMo
    .NMMMmMMMNmMNNNNMm:-.```..                                       ``-----:/o//dMMMNMMMm
    .NMMMNMMNMMNMNNNNs--.``...                                          `....---..dMNMMMMM`
    .NNMMNNNNNMMMNNNN:-...`...                                           ```.....`+MMMMMMM.
    .MNNNNNNNMMMMMNNy.......-.`                                          ``..---.`.NMMMMMM`
    `NMNMMNNNMMNMMMm-...`.-----.`                                        ``.-----.`yMMMMMd
     dMMMNNNNMMNNMMo`-....----..`          ``                      `.`` ```.------`:MMMMM-
     /MMNMNNNMMNMMN-`.`..-.--.` `--..-:-.-.``..``               ```.-......--.----..NMMMd
     `mMNMNNMMMNNMN.``...-.-../hddyysyhysyyso+--/::-..--...----:::+syyyyhhdddy+:-.-.hMMM:
      :NNNNNNMMMMMN.`....--.:dy/:-.-/+++ososss+/:+shyo/::/:+os+:+syosyoso+/://ss//.`+MMm
       +MdmNNMNMMMN+.--....:+-.-:+ooymdddmdhyo++ss+/yMo.`..oNsyhdhmdmmmmNmdo:-.--:+-:MM/
      `y/..-+dNNMMMo-shhyo++--+sso-`dsymoso.smyso+//.od+/:/ho+yyhd/ymsNhyy./yy/``.-hhmm`
      .s+md+- oMMMm``.-/sy//-.+/s.  odys+s-  /shyso+.sm+:::yd/hh+:`.hyyhy- `/y/.` `hs/s`
      -oyMNyhs:NMMo     `.-`         .---` ``.`/::+s/ms````-mo+:`````.--` ````     `sNm`
      `hsMh`.hymMM:       `-         `          .:+:hy`     od:-`                  .+sM-``
       o+o/``-/mMM-        .-                ``.```hy`       s.`.`                 -/+M+``
       .s `./NMMMM-         --            ````  `:ho`        .s`  ```             ./.+My`
        /: `+MMdMM/          -.  `       `   ..+++-           :d/.             ``:o-`oMy
         o. .sdNMMm`            `--:://+//.`-///:.           `.ohooo:-.`` `.-:+//:..`hMy
         `s```.yMMMs                  ```     .y+  `::.:----.-``o:-::/:::--:::-----..mMo
          :s` `oMNMN-                         :N+  -NNhy/:/sds./:..----------------`/MN.
           +o``-NMNMd`                      `-syyoo++/.++:so/+yN+..--....-..-....--`dM+
            +:.`oMNNN`                     .:-` `.::.` `--..---/+/---.```........-.:d:
             ./++Ny::`                   `--`          .--..-----::-..```......---.s.
               `:os.--`                  .`            `.. ``.------.`.```..-----.:o
                 `h-..`                 ``        .:syy/-/ydho-.--...`````.------.+.
                  +o`.`                        ./ymNNNNNNNmmNNNh:....``.```.-----:s
                  `h-`.                    -/+oyo/:----:---.--:+sso:........--::-+:
                   /d...                 `.++:  -:--/+:/oo+o++-.``--.....-----:-:y
                   `Md:.`                ``     `-:/+ooooo+/-........-----------yo
                    mNNs-`                     `..-/oo+://:/oo:......----------os
                    h:+md:.                  ...``.`         `------.---------++
                   `h..-+ddo.`                            ``.----------------s:
                    h` .--/ydy:`                   `...--------------------+y.
                    h`   ..--+yds+.`               `....----------------:+dN`
                   `y      `.-.-:sdhs:.`    `...````..----------------:smsdm
                   `h         .--..-+ymdy+/:----:----------------.-/shs+.`os
                   `h           `..--..:sdmmhyo/::----------::/+syhy/....`+-
                   -y              `..--..--/oosyyyhhhyyyssoooo/:.`...`.` /-
                   `.                  `..--.......................````   +`
                                          `...------..-.........``
                                              ``..-.--........``
                                                   ```..```
    -->
</body>
</html>