@model IEnumerable<SimpleFeedReader.FeedItem>

@foreach (var i in Model)
{

    <div class="row">
        <div class="col-md-2 col-md-offset-1 hidden-sm hidden-xs">
            <div class="time text-right">
                @if (i.Date > DateTime.Now.AddMonths(-3))
                {
                    <span class="badge">New</span>
                }
                @i.Date.ToString("yyyy-MM-dd") <small>@i.Date.ToString("HH:mm:ss")</small>
            </div>
        </div>
        <div class="col-md-8">
            <h3><a href="@i.Uri">@i.Title</a></h3>
            <p>@i.GetContent() <small class="pull-right"><a href="@i.Uri" target="_blank">Read more &raquo;</a></small></p>
        </div>
    </div>

}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a></li>
            <li><small>Page 1 of 10</small></li>
            <li class="next"><a href="#">Newer &rarr;</a></li>
        </ul>
    </div>
</div>
<!--
<div class="row text-center">
    <ul class="pagination">
        <li class="disabled"><span>&laquo;</span></li>
        <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
-->
